{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
    <body>

        <div class="container">
            <div class="page-header">
                <a href="/"><h1>Calm Shop</h1></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">

                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            您的購物車:
                            <a href='{% url "cart:cart_detail" %}''>
                                {{ total_items }} 個物品,
                                ${{ cart.get_total_price }}
                            </a>
                        {% else %}
                            您的購物車是空的
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>